*{
    outline: 1px dotted red;
}

/* ---------------------------------------- */
/* Section 1 */

#sect-01-cont{
    /* padding-top: 5px;
    padding-bottom: 5px; */
    background-color: #df473a;
}

#top-social-media-icons {
    margin-top: 15px;
    margin-left: 80%;
    color: #f9f8cd;
}


/* ---------------------------------------- */
/* linkedin icon styling */

.linkedin {
    font-size: 20px;
    font-family: 'Work Sans', sans-serif;
}

/* ---------------------------------------- */
/* Section 2 */

#sect-02-cont {
    padding-top: 30px;
    padding-bottom: 30px;
    background-color: rgb(223,71,58);
    background-color: linear-gradient(0deg, rgba(223,71,58,1) 0%, rgba(230,80,67,1) 85%, rgba(236,121,76,1) 100%);
}

#sect-02-cont h1{
    margin-left: 200px;
    color: whitesmoke;
    font-family: 'Hind Siliguri', sans-serif;
}

#top-nav-links {
    margin-left: 10px;
    margin-right: 10px;
}

#top-nav-links button{
    margin-top: 10px;
    margin-left: 30px;
    background-color: #fff8ce;
}

#top-nav-links a{
    color: #321628;
    font-family: 'Hind Siliguri', sans-serif;
}

#top-nav-links a:hover{
    color: #df473a;
    font-family: 'Hind Siliguri', sans-serif;
}

/* ---------------------------------------- */
/* Section 3 */

#sect-03-cont {
    background-color: #fff8ce;
}

#sect-03-cont-items{
    margin-left: 200px;
    padding-top: 30px;
    padding-bottom: 30px;
}

#sect-3-search-box svg{
    margin-top: 7px;
}

/* ---------------------------------------- */
/* Section 4 Carousel */

#sect-04-cont-items{
    margin-left: 17%;
}

#carousel-caption-items1 h5 {
    color: #321628;
}

#carousel-caption-items1 p{
    color: #321628;
}

#carousel-caption-items2 h5 {
    color: whitesmoke;
}

#carousel-caption-items2 p{
    color: whitesmoke;
}

#carousel-caption-items3 h5 {
    color: whitesmoke;
}

#carousel-caption-items3 p{
    color: whitesmoke;
}

/* .section4{
    margin-bottom: 50px;
    padding-bottom: 50px;
} */

#sect-04-cont{
    background-image: url(https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcSTN05Ue3AjXNXshFS8PFs_jrEHUMxGPjD98wcBiKlwEzVwM_kGcjTC49NOVqtML1nyV7M&usqp=CAU);
}

/* ---------------------------------------- */
/* Section 5 Cards */

#sect-05-cont {
    /* margin-top: 25px; */
    padding-top: 50px;
    background-color: #f5eedc;
    
}

#sect-06-cont h4 {
    font-family: 'Hind Siliguri', sans-serif;
}

/* ---------------------------------------- */
/* Section 6 Offer */

#offer1 {
    margin-right: 10px;
}